.entrybox {

	width: 100%;
	margin-bottom: 71.796875px;
	margin-bottom: 5vw;
	align-self: center;

	// .entrybox__header
	&__header {

		text-align: center;
		font-size: 50.5679012345679px;
		font-size: 3.506789248753209vw;

	}

	// .entrybox__footer
	&__footer {

		text-align: center;
		font-size: 25.5679012345679px;
		font-size: 1.506789248753209vw;
		color: red;

	}


	// .entrybox__input
	&__input {

		display: block;
		margin: 0 auto;
		// width: 718px;
		// width: 50vw;
		width: 75%;
		white-space: pre-wrap;
		height: 71.796875px;
  	height: 5vw;
  	line-height: 71.796875px;
  	line-height: 2vw;
  	font-size: 17.925925925925924px;
  	font-size: 1.6300919365649067vw;
  	border-width: 0 0 2px 0;
  	border-bottom: 2px solid #000;

	}

}
